<!DOCTYPE html>
<html>
<head>
    <title>Nexus</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        function formFunc(){
          if (document.getElementById("target_api").value == "/") {
            document.getElementById("form").action = "/";
          } else {
            document.getElementById("form").action = "/api/nexus/search";
          }
          alert( document.getElementById("form").action);
        }
    </script>
</head>
<body background="{{wallpaper}}">
{% block title %}{% endblock %}

{% block content %}{% endblock %}
</body>

</html>