{% extends "base.html" %}

{% block title %}
<div class="container-fluid">
    <img src="{{logo}}" width="60px"><br/>
</div>
<br>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!--
        For posting to url matching search_artifact
        <form action="{{ url_for('search_artifact') }}" method="post" role="form" id="nexus_search">
        -->
        <form onsubmit="formFunc()" method="post" role="form" id="nexus_search">
            {{ form.hidden_tag() }}
            <table class=".table-condensed">
                <tr><td>{{ form.group.label }}<td>{{ form.group() }}</td></tr>
                <tr><td>{{ form.artifact.label }}<td>{{ form.artifact() }}</td></tr>
                <tr><td>{{ form.version.label }}</td><td>{{ form.version() }}</td></tr>
                <tr><td>{{ form.extension.label }}</td><td>{{ form.extension() }}</td></tr>
                <tr><td>{{ form.hidden_tag() }}</td>
            </table>
            {{ form.submit() }} {{ form.submit_new() }}
        </form>
        {{ result }}
    </div>
{% endblock %}